<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzyyd.hsq">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".base.ProApplication"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.lzyyd.hsq.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.ForgetSettingPsdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.SeckillActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.GoodsDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.GoodsListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.IntegralActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.PersonalInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.WalletActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.CollectGoodsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.GetCashActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.RechargeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.OrderListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.MyQrcodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.AddressListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.AddAddressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.ShoppingcartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.SureOrderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.VipActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.ChuangkeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.CcqActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.SplashActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.BindCardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.PointActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.TransferoutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.IntegralListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.OrderDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.BalanceTransferOutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.TianfengCoinActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lzyyd.hsq.activity.ModifyPayActivity"
            android:screenOrientation="portrait"/>




        <activity android:name=".qrcode.android.CaptureActivity"
            />


    </application>

</manifest>